<!--
    Peter & Jada
    05/30/2021
    https://peang.greenriverdev.com/328/final_project/personalinfo.html/
-->
<!-- header-->
<include href="includes/header.html"></include>
<body class="d-flex flex-column min-vh-100">

<!-- Navigation bar -->
<include href="includes/navbar.html"></include>

<!-- Main content -->
<div class="container border border-1 rounded p-4 mt-4"> <!-- container -->
    <h1>Checkout</h1>
    <p>Please enter your shipping information</p>
    <hr>
    <form action="#" method="post" id="signup">
        <div class="row"> <!-- TOP row start-->
            <!-- Get First Name -->
            <div class="form-group col-md-6">
                <label class="w-75 fw-bold" for="fname">First Name</label>
                <input class="form-control" type="text"
                       id="fname" name="fname" value="{{ @userFName }}"
                       placeholder="First Name">
                <!-- PHP Validation Here -->
                <!-- JavaScript Validation -->
                <span class="err" id="err-fname">Please Enter a First Name</span>
                <check if="{{ isset(@errors['fname']) }}">
                    <span class="err">{{ @errors['fname'] }}</span>
                </check>
            </div> <!-- First Name END -->

            <!-- Last Name -->
            <div class="form-group col-md-6">
                <label class="w-75" for="lname"><strong>Last Name</strong></label>
                <input type="text" class="form-control"
                       id="lname" name="lname" value="{{ @userLName }}"
                       placeholder="Last Name">
                <!-- PHP Validation -->
                <!-- JavaScript Validation -->
                <span class="err" id="err-lname">Please Enter a Last Name</span>
                <check if="{{ isset(@errors['lname']) }}">
                    <span class="err">{{ @errors['lname'] }}</span>
                </check>
            </div> <!-- Last Name END -->
        </div> <!--END of top row-->
        <br>
        <div class="row"> <!-- Middle row start -->
            <!-- Address -->
            <div class="form-group">
                <label class="w-75" for="address"><strong>Address</strong></label>
                <input type="text" class="form-control"
                       id="address" name="address" value="{{ @userAddress}}"
                       placeholder="Address">
                <!-- PHP Validation -->
                <!-- JavaScript Validation -->
                <span class="err" id="err-address">Please Enter an Address</span>
            </div>
            <br>
            <!-- Address line 2 -->
            <div class="form-group mt-2">
                <input type="text" class="form-control"
                       id="inputAddress2" name="inputAddress2"
                       placeholder="Apartment, studio, or floor">
            </div>
        </div>

        <!-- Address END -->
        <!-- city -->
        <div class="row">
            <div class="form-group col-4">
                <label class="w-75" for="city">City</label>
                <input type="text" class="form-control"
                       id="city"
                       name="city" value="{{ @userCity }}"
                       placeholder="City">
                <!-- JavaScript Validation -->
                <span class="err" id="err-city">Please Enter a City</span>
            </div>
            <!-- state -->
            <div class="form-group col-4">
                <label class="w-75" for="state">State</label>
                <select class="form-select" id="state" name="state" class="form-control">
                    <repeat group="{{ @states }}" value="{{ @state }}">
                        <option value="{{ @state }}"
                        <check if="{{ @state == @userState }}">
                            selected
                        </check>
                        >{{ @state }}</option>
                    </repeat>
                </select>
            </div>
            <!-- zip code -->
            <div class="form-group col-4">
                <label class="w-75" for="zipcode">Zip</label>
                <input type="text" class="form-control" id="zipcode"
                       placeholder="Zip Code">
                <!-- PHP Validation Here -->
                <!-- JavaScript Validation -->
                <span class="err" id="err-zipcode">Please Enter a Zip Code</span>
            </div>
            <check if="{{ isset(@errors['zipcode']) }}">
                <span class="err">{{ @errors['zip'] }}</span>
            </check>
        </div>
        <!-- get email name -->
        <div class="form-group mt-2">
            <label for="email" class="fw-bold">Email</label>
            <div class="col">
                <input class="form-control" type="text" name="email" id="email" value="{{ @userEmail }}"
                       placeholder="Your Email">
                <!-- JavaScript Validation -->
                <span class="err" id="err-email">Please Enter a Valid Email i.e "example@email.com"</span>
            </div>
        </div>
        <!-- error message for invalid for email -->
        <check if="{{ isset(@errors['email']) }}">
            <span class="err">{{ @errors['email'] }}</span>
        </check>
        <!-- next btn -->
        <div class="text-center mt-3">
            <input type="submit" class="btn btn-warning text-light" value="Next">
        </div>
    </form>
</div> <!-- container end-->

<script src="scripts/signup.js"></script>
<!-- footer-->
<include href="includes/footer.html"></include>
</body>
