<!--
    Peter & Jada
    05/30/2021
    https://peang.greenriverdev.com/328/final_project/personalinfo.html/
-->
<!-- header-->
<include href="views/header.html"></include>
<body class="d-flex flex-column min-vh-100">

<!-- Navigation bar -->
<include href="views/navbar.html"></include>

<!-- Main content -->
<div class="container border border-1 rounded p-4 mt-4"> <!-- container -->
    <h1 class="text-center">Shoes</h1>
    <hr>
    <div class="container bg-light pt-4">
        <div class="card-group" id="outfitcatalog">
            <div class="row row-cols-1 row-cols-md-3"> <!--Row Start-->
                <div class="col">
                    <div class="card h-100">
                        <img src="images/blackAF1.jpg" class="card-img-top img-thumbnail" alt="...">
                        <div class="card-body">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item"><h5 class="card-title">Air Force 1</h5></li>
                                <li class="list-group-item">Nike</li>
                                <li class="list-group-item">Black/Black</li>
                                <li class="list-group-item">$90.00</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="images/chicagoAJ1.jpg" class="card-img-top img-thumbnail" alt="...">
                        <div class="card-body">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item"><h5 class="card-title">Air Jordan 1</h5></li>
                                <li class="list-group-item">Nike</li>
                                <li class="list-group-item">White/Black-Red</li>
                                <li class="list-group-item">$170.00</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="images/travisScottDunk.jpg" class="card-img-top img-thumbnail" alt="...">
                        <div class="card-body">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item"><h5 class="card-title">SB Dunk Low</h5></li>
                                <li class="list-group-item">Nike</li>
                                <li class="list-group-item">Black/Black-Parachute Beige-Petra Brown
                                </li>
                                <li class="list-group-item">$150.00</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div> <!-- Row End-->
            <div class="row row-cols-1 row-cols-md-3"> <!--Row Start-->
                <div class="col">
                    <div class="card h-100">
                        <img src="images/nmd.jpg" class="card-img-top img-thumbnail" alt="...">
                        <div class="card-body">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item"><h5 class="card-title">Human Race NMD</h5></li>
                                <li class="list-group-item">Adidas</li>
                                <li class="list-group-item">Core Black/Running White</li>
                                <li class="list-group-item">$240.00</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="images/bapeStars.jpg" class="card-img-top img-thumbnail" alt="...">
                        <div class="card-body">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item"><h5 class="card-title">Superstar 80s Bape</h5></li>
                                <li class="list-group-item">Adidas</li>
                                <li class="list-group-item">White/Black-White</li>
                                <li class="list-group-item">$150.00</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="images/analog700.jpg" class="card-img-top img-thumbnail" alt="...">
                        <div class="card-body">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item"><h5 class="card-title">Yeezy Boost 700</h5></li>
                                <li class="list-group-item">Adidas</li>
                                <li class="list-group-item">Analog/Analog</li>
                                <li class="list-group-item">$300.00</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- container end-->
    <div class="text-center mt-3">
        <a type="button" class="btn btn-primary" href="./checkout">Place an Order</a>
    </div>
</div>
<script src="scripts/addToCart.js"></script>
<!-- footer-->
<include href="views/footer.html"></include>
</body>
