<!--
    Peter & Jada
    05/30/2021
    https://peang.greenriverdev.com/328/final_project/personalinfo.html/
-->
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link href="styles/styles.css" rel="stylesheet">

    <title>Personal Info</title>
</head>
<body class="mb-3">

<!-- Navigation bar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="./">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="./">Men's</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./">Women's</a>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>

<!-- Main content -->
<div class="container border border-1 rounded p-4 mt-4"> <!-- container -->
    <h1 class="text-center">Outfits</h1>
    <hr>
    <div class="container bg-light pt-4">
        <div class="card-group" id="outfitcatalog">
            <div class="card text-center w-25 mx-1">
                <img class="card-img-top" src="images/outfit1.jpg" alt="Outfit 1">
                <div class="card-body">
                    <h5 class="card-title">Jordan 1 Turbo Outfit</h5>
                    <button type="button" class="btn btn-outline-primary" data-toggle="modal"
                            data-target="#outfit1">Outfit Specifics
                    </button>
                </div>
            </div>
            <div class="card text-center w-25 mx-1">
                <img class="card-img-top" src="images/outfit2.jpg" alt="Outfit 1">
                <div class="card-body">
                    <h5 class="card-title">Air Force 1 Outfit</h5>
                    <button type="button" class="btn btn-outline-primary" data-toggle="modal"
                            data-target="#outfit2">Outfit Specifics
                    </button>
                </div>
            </div>
            <div class="card text-center w-25 mx-1">
                <img class="card-img-top" src="images/outfit3.jpg" alt="Outfit 1">
                <div class="card-body">
                    <h5 class="card-title">Air Force 1 Turbo Outfit</h5>
                    <button type="button" class="btn btn-outline-primary" data-toggle="modal"
                            data-target="#outfit3">Outfit Specifics
                    </button>
                </div>
            </div>
            <div class="card text-center w-25 mx-1">
                <img class="card-img-top" src="images/outfit1.jpg" alt="Outfit 1">
                <div class="card-body">
                    <h5 class="card-title">Jordan 1 Turbo Outfit</h5>
                    <button type="button" class="btn btn-outline-primary" data-toggle="modal"
                            data-target="#outfit1">Outfit Specifics
                    </button>
                </div>
            </div>
        </div>
    </div> <!-- container end-->

</body>
</html>