<!--
    Peter & Jada
    05/30/2021
    https://peang.greenriverdev.com/328/final_project/personalinfo.html/
-->
<!-- header-->
<include href="views/header.html"></include>
<body class="mb-3">

<!-- Navigation bar -->
<include href="views/navbar.html"></include>

<!-- Main content -->
<div class="container border border-1 rounded p-4 mt-4"> <!-- container -->
    <h1>Personal Information</h1>
    <hr>
    <form action="#" method="post" class="form-horizontal ">
        <div class="row">
            <div class="col-7">
                <!-- get first name -->
                <div class="form-group">
                    <label for="fname" class="fw-bold"> First Name</label>

                    <div data-tip="swag">
                        <input class="form-control" type="text" name="fname"
                               id="fname" value="{{ @userFName }}"
                               placeholder="First Name">
                    </div>
                </div>
                <!-- error message for invalid first name -->
                <check if="{{ isset(@errors['fname']) }}">
                    <span class="err">{{ @errors['fname'] }}</span>
                </check>
                <br>
                <!-- get last name -->
                <div class="form-group">
                    <label for="lname" class="fw-bold">Last Name</label>

                    <div>
                        <input class="form-control" type="text" name="lname"
                               id="lname" value="{{ @userLName }}"
                               placeholder="Last Name">
                    </div>
                </div>
                <!-- error message for invalid for last name -->
                <check if="{{ isset(@errors['lname']) }}">
                    <span class="err">{{ @errors['lname'] }}</span>
                </check>
                <br>
                <!-- get email name -->
                <div class="form-group">
                    <label for="email" class="fw-bold">Email</label>
                    <div class="col">
                        <input class="form-control" type="text" name="email" id="email" value="{{ @userEmail }}"
                               placeholder="Your Email">
                    </div>
                </div>
                <!-- error message for invalid for email -->
                <check if="{{ isset(@errors['email']) }}">
                    <span class="err">{{ @errors['email'] }}</span>
                </check>
                <br>
                <!-- get age
                <div class="form-group">
                    <label for="age" class="fw-bold">Age</label>
                    <div>
                        <input class="form-control input-large" type="text"
                               name="age" id="age" value="{{ @userAge }}"
                               placeholder="18-118">
                    </div>
                </div>
                -->
                <!-- error message for invalid for age
                <check if="{{ isset(@errors['age']) }}">
                    <span class="err">{{ @errors['age'] }}</span>
                </check>
                -->
                <br>
                <br>
                <!-- get gender
                <div class="form-group">
                    <label class="col-sm-2 control-label fw-bold">Gender</label>
                    <div class="col-sm-4">
                        <repeat group="{{ @genders }}" value="{{ @gender }}">
                            <label><input type="radio" name="gender"
                                          id="{{ @gender }}" value="{{ @gender }}"
                                <check if="{{ @gender == @userGender }}">
                                    checked="checked"</check>
                                > {{ ucfirst(@gender) }}
                            </label>
                        </repeat>
                    </div>
                </div>
                 -->
                <br>
                <!-- get phone number
                <div class="form-group">
                    <label for="phone" class="control-label fw-bold">Phone Number</label>

                    <div>
                        <input class="form-control" type="text" name="phone"
                               id="phone" value="{{ @userPhone }}" placeholder="111-222-3333">
                    </div>
                </div>
                -->
                <!-- error message for invalid for phone
                <check if="{{ isset(@errors['phone']) }}">
                    <span class="err">{{ @errors['phone'] }}</span>
                </check>
            </div>
            -->
                <div class="col-5">
                    <div class="mt-4 p-3 bg-light border rounded">
                        <span class="fw-bold">Note:</span>
                        All information entered is protected by our
                        <span class="text-primary">privacy policy</span>.
                        Profile information can
                        only be viewed by others with your permission.
                    </div>
                </div>
            </div>

            <!-- next btn -->
            <div class="text-end">
                <input type="submit" class="btn btn-info text-light" value="Next>">
            </div>
    </form>
</div> <!-- container end-->

</body>
</html>