<!--
    Peter & Jada
    05/30/2021
    https://peang.greenriverdev.com/328/final_project/personalinfo.html/
-->
<!-- header-->
<include href="views/header.html"></include>
<body class="mb-3">
<!-- Navigation bar -->
<include href="views/navbar.html"></include>

<!-- Main content -->
<div class="container border border-1 rounded p-4 mt-4"> <!-- container -->
    <h1 class="text-center">Outfits</h1>
    <hr>
    <div class="container bg-light pt-4">
        <div class="card-group">
            <div class="card text-center w-25 mx-1">
                <img class="card-img-top" src="images/outfit1.jpg" alt="Outfit 1">
                <div class="card-body">
                    <h5 class="card-title">Jordan 1 Turbo Outfit</h5>
                    <button type="button" class="btn btn-outline-primary" data-toggle="modal"
                            data-target="#outfit1">Outfit Specifics
                    </button>
                </div>
            </div>
            <div class="card text-center w-25 mx-1">
                <img class="card-img-top" src="images/outfit2.jpg" alt="Outfit 1">
                <div class="card-body">
                    <h5 class="card-title">Air Force 1 Outfit</h5>
                    <button type="button" class="btn btn-outline-primary" data-toggle="modal"
                            data-target="#outfit2">Outfit Specifics
                    </button>
                </div>
            </div>
            <div class="card text-center w-25 mx-1">
                <img class="card-img-top" src="images/outfit3.jpg" alt="Outfit 1">
                <div class="card-body">
                    <h5 class="card-title">Air Force 1 Turbo Outfit</h5>
                    <button type="button" class="btn btn-outline-primary" data-toggle="modal"
                            data-target="#outfit3">Outfit Specifics
                    </button>
                </div>
            </div>
            <div class="card text-center w-25 mx-1">
                <img class="card-img-top" src="images/outfit1.jpg" alt="Outfit 1">
                <div class="card-body">
                    <h5 class="card-title">Jordan 1 Turbo Outfit</h5>
                    <button type="button" class="btn btn-outline-primary" data-toggle="modal"
                            data-target="#outfit1">Outfit Specifics
                    </button>
                </div>
            </div>
        </div>
    </div> <!-- container end-->
</div>
<!-- footer-->
<include href="views/footer.html"></include>
</body>
