<!--
    Peter & Jada
    05/30/2021
    https://peang.greenriverdev.com/328/final_project/personalinfo.html/
-->
<!-- header-->
<include href="views/header.html"></include>
<body class="mb-3">

<!-- Navigation bar -->
<include href="views/navbar.html"></include>

<!-- Main content -->
<div class="container border border-1 rounded p-4 mt-4"> <!-- container -->
    <h1>Create an Account</h1>
    <hr>
    <form action="#" method="post" id="signup">
        <div class="row"> <!-- TOP row start-->
            <!-- Get First Name -->
            <div class="form-group col-md-6">
                <label class="w-75 fw-bold" for="fname">First Name</label>
                <input class="form-control" type="text"
                       id="fname" name="fname" value="{{ @userFName }}"
                       placeholder="First Name">
                <!-- PHP Validation Here -->
                <!-- JavaScript Validation -->
                <span class="err" id="err-fname">Please Enter a First Name</span>
                <check if="{{ isset(@errors['fname']) }}">
                    <span class="err">{{ @errors['fname'] }}</span>
                </check>
            </div> <!-- First Name END -->

            <!-- Last Name -->
            <div class="form-group col-md-6">
                <label class="w-75" for="lname"><strong>Last Name</strong></label>
                <input type="text" class="form-control"
                       id="lname" name="lname" value="{{ @userLName }}"
                       placeholder="Last Name">
                <!-- PHP Validation -->
                <!-- JavaScript Validation -->
                <span class="err" id="err-lname">Please Enter a Last Name</span>
                <check if="{{ isset(@errors['lname']) }}">
                    <span class="err">{{ @errors['lname'] }}</span>
                </check>
            </div> <!-- Last Name END -->
        </div> <!--END of top row-->
        <br>
        <div class="row"> <!-- Middle row start -->
            <!-- Username -->
            <div class="form-group col-md-6">
                <label class="w-75" for="username"><strong>Username</strong></label>
                <input type="text" class="form-control"
                       id="username" name="username" value="{{ @userName}}"
                       placeholder="Username">
                <!-- PHP Validation -->
                <!-- JavaScript Validation -->
                <span class="err" id="err-username">Please Enter a Username</span>
            </div> <!-- Username END -->

            <!-- Password -->
            <div class="form-group col-md-6">
                <label class="w-75" for="password"><strong>Password</strong></label>
                <input type="password" class="form-control"
                       id="password" name="password" value=""
                       placeholder="New password">
                <!-- PHP Validation -->
                <!-- JavaScript Validation -->
                <span class="err" id="err-password">Please Enter a Password</span>
                <!-- Show/Hide Password -->
                <label class="d-block">
                    <input type="checkbox" id="passwordCheckbox" class="mx-1">Show Password</label>
            </div> <!-- Password END -->
        </div>
        <!-- get email name -->
        <div class="form-group">
            <label for="email" class="fw-bold">Email</label>
            <div class="col">
                <input class="form-control" type="text" name="email" id="email" value="{{ @userEmail }}"
                       placeholder="Your Email">
                <!-- JavaScript Validation -->
                <span class="err" id="err-email">Please Enter a Valid Email i.e "example@email.com"</span>
            </div>
        </div>
        <!-- error message for invalid for email -->
        <check if="{{ isset(@errors['email']) }}">
            <span class="err">{{ @errors['email'] }}</span>
        </check>
        <br>
        <!-- get age
        <div class="form-group">
            <label for="age" class="fw-bold">Age</label>
            <div>
                <input class="form-control input-large" type="text"
                       name="age" id="age" value="{{ @userAge }}"
                       placeholder="18-118">
            </div>
        </div>
        -->
        <!-- error message for invalid for age
        <check if="{{ isset(@errors['age']) }}">
            <span class="err">{{ @errors['age'] }}</span>
        </check>
        -->
        <br>
        <br>
        <!-- get gender
        <div class="form-group">
            <label class="col-sm-2 control-label fw-bold">Gender</label>
            <div class="col-sm-4">
                <repeat group="{{ @genders }}" value="{{ @gender }}">
                    <label><input type="radio" name="gender"
                                  id="{{ @gender }}" value="{{ @gender }}"
                        <check if="{{ @gender == @userGender }}">
                            checked="checked"</check>
                        > {{ ucfirst(@gender) }}
                    </label>
                </repeat>
            </div>
        </div>
         -->
        <br>
        <!-- get phone number
        <div class="form-group">
            <label for="phone" class="control-label fw-bold">Phone Number</label>

            <div>
                <input class="form-control" type="text" name="phone"
                       id="phone" value="{{ @userPhone }}" placeholder="111-222-3333">
            </div>
        </div>
        -->
        <!-- error message for invalid for phone
        <check if="{{ isset(@errors['phone']) }}">
            <span class="err">{{ @errors['phone'] }}</span>
        </check>
    </div>
    -->
        <div class="col-5">
            <div class="mt-4 p-3 bg-light border rounded">
                <span class="fw-bold">Note:</span>
                All information entered is protected by our
                <span class="text-primary">privacy policy</span>.
                Profile information can
                only be viewed by others with your permission.
            </div>
        </div>

        <!-- next btn -->
        <div class="text-end">
            <input type="submit" class="btn btn-info text-light" value="Create">
        </div>
    </form>
</div> <!-- container end-->

<script src="scripts/signup.js"></script>
</body>
</html>