<!--
    Peter & Jada
    https://peang.greenriverdev.com/328/final_project/summary
-->

<!-- header-->
<include href="includes/header.html"/>

<body class="d-flex flex-column min-vh-100"><!-- Navigation bar -->
<include href="includes/navbar.html"></include>

<!-- Main content -->
<div class="container border border-2 rounded">
    <div class="row">
        <div class="mt-5">
            <div class="">
                <h1>Order Summary</h1>
                <table class="m-2 table table-bordered">
                    <tbody>
                    <tr>
                        <td>User ID: {{ @userId }}</td>
                    </tr>
                    <tr>
                        <td>Name: {{ @SESSION.orders->getFname() }} {{ @SESSION.orders->getLname() }}</td>
                    </tr>
                    <tr>
                        <td>Address: {{ @SESSION.orders->getAddress() }}</td>
                    </tr>
                    <tr>
                        <td>City: {{ @SESSION.orders->getCity() }}</td>
                    </tr>
                    <tr>
                        <td>State: {{ @SESSION.orders->getState }}</td>
                    </tr>
                    <tr>
                        <td>Zipcode: {{ @SESSION.orders->getZipcode() }}</td>
                    </tr>
                    <tr>
                        <td>Shoes: {{ @SESSION.cart->getShoes() }}</td>
                    </tr>
                    <tr>
                        <td>Total Price: {{ @SESSION.cart->getTotalPrice() }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- footer-->
<include href="includes/footer.html"></include>
</body>
</html>