<!--
    Peter & Jada
    https://peang.greenriverdev.com/328/final_project/summary
-->

<!-- header-->
<include href="views/header.html"/>

<body class="d-flex flex-column min-vh-100"><!-- Navigation bar -->
<include href="views/navbar.html"></include>

<!-- Main content -->
<div class="container border border-2 rounded">
    <div class="row">
        <div class="mt-5">
            <div class="">
                <h1>Order Summary</h1>
                <table class="m-2 table table-bordered">
                    <tbody>
                    <tr>
                        <td>User ID: {{ @userId }}</td>
                    </tr>
                    <tr>
                        <td>Name: {{ @SESSION.order->getFname() }} {{ @SESSION.order->getLname() }}</td>
                    </tr>
                    <tr>
                        <td>Address: {{ @SESSION.order->getAddress() }}</td>
                    </tr>
                    <tr>
                        <td>Shoes: {{ @SESSION.order->getShoes() }}</td>
                    </tr>
                    <tr>
                        <td>Total Price: {{ @SESSION.cart->getTotalPrice() }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- footer-->
<include href="views/footer.html"></include>
</body>
</html>