<!--
    Peter & Jada
    https://peang.greenriverdev.com/328/final_project/summary
-->

<!-- header-->
<include href="views/header.html"/>

<body class="mb-3">
<!-- Navigation bar -->
<include href="views/navbar.html"></include>

<!-- Main content -->
<div class="container border border-2 rounded">
    <div class="row">
        <div class="mt-5">
            <div class="">
                <h1>Order Summary</h1>
                <table class="m-2 table table-bordered">
                    <tbody>
                    <tr>
                        <td>User ID: {{ @userId }}</td>
                    </tr>
                    <tr>
                      <td>Name: {{ @SESSION.user->getFname() }} {{ @SESSION.user->getLname() }}</td>
                    </tr>
                    <tr>
                      <td>Username: {{ @SESSION.user->getUserName() }}</td>
                    </tr>

                    <check if="{{ @SESSION.user instanceof premiumUser }}">
                        <tr>
                            <td> Premium User:
                                You are swag
                            </td>
                        </tr>
                    </check>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

</body>
</html>