<!--
    Peter & Jada
    05/04/2021
    https://peang.greenriverdev.com/328/final_project/
-->
<!-- header-->
<include href="views/header.html"></include>
<body class="d-flex flex-column min-vh-100"><!-- Navigation bar -->
<!-- Navigation bar -->
<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link h5" href="./">Home</a>
            </li>
        </ul>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link h5" href="./outfits">Shoes</a>
                </li>
            </ul>
            <div class="navbar-nav navbar-center">
                <a class="navbar-brand h1" href="./">Streetwear Storm</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item">
                    <a class="nav-link" href="./logout">Log Out</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<h1>Admin Page</h1>
<div class="container">
    <table style="width:100%" class="display" id="guest-table">
        <thead>
        <tr>
            <th>User ID</th>
            <th>Cart ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Address</th>
            <th>Email</th>
            <th>Brand</th>
            <th>Model</th>
            <th>Date</th>
            <th>Total Price</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

<!-- footer-->
<include href="views/footer.html"></include>
</body>

