/*#outfitcatalog .card-img-top {
    width: 100%;
    height: 20vw;
    object-fit: cover;
}*/

#intro {
    background-image: url('https://peang.greenriverdev.com/328/final_project/images/sneakerwall.jpg');
    height: 110vh;
}

/* navbar styles */
.navbar {
    background-color: #eec356;

}

.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

/* error validation   */
.err {
    color: darkred;
    padding-left: 1em;
    display: none;
}

#footer {
    background-color: #eec356;
}

.img-thumbnail {
    width: 400px;
    height: 400px;
    object-fit: contain;
}



